*{
	margin:0;
	padding:0;
	font-family:Comic Sans MS;
}
div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }


@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }


.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

header{
	
	height:auto;
	background-image:url("bg2.jpg");
	background-size: cover;
	background-position: center;
	box-sizing:border-box;
}
ul{
	float:left;
	list-style:none;
	margin-top:25px;
}
ul li{
	display:inline-block;
}
ul li a{
	text-decoration:bold;
	color:white;
	padding:5px 20px;
	font-size:25px

}
ul li a:hover{
	background-color:black;
	color:white;
}

ul li.active a{	
    background-color:black;
	color:white;
}

.logo img{
	float:left;
	width:150px;
	height:auto;
	}
.main{
	max-width:1200;
	margin:auto;
}
.title{
	position:absolute;
	top:50%;
	right:50%;
	transform:translate(50%,-50);
}
.title h1{
	color:white;
	font-size:80px;
}
h1 {
  text-align:center;
  text-transform: uppercase;
  color:black;
  font-size:100px
}
.div gallery{
	display:block;
	margin:left;
	position:center;
}

..navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
