*

header{
     margin: 0;
	 padding:0;
	 height: 50vh;
     background-image:url("bg2.jpg");
	 background-size:auto;
	 background-position: center;
	 font-family: Comic Sans MS;

}
ul{
	float:left;
	list-style:none;
	margin-top:25px;
}
ul li{
	display:inline-block;
}
ul li a{
	text-decoration:bold;
	color:white;
	padding:5px 20px;
	font-size:25px

}
ul li a:hover{
	background-color:black;
	color:white;
}

ul li.active a{	
    background-color:black;
	color:white;
}

.logo img{
	float:left;
	width:150px;
	height:auto;
	}
.main{
	max-width:1200;
	margin:auto;
}
.title{
	position:absolute;
	top:50%;
	right:50%;
	transform:translate(50%,-50);
	color:black;
}
.title h1{
	color:black;
	font-size:80px;
}


div {
  
  font-size:28px;
  text-align:center;
  
}

h1 {
  text-align:center;
  text-transform: uppercase;
  color:black;
  font-size:100px
}


* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}


.row::after {
  content: "";
  clear: both;
  display: table;
}
img{
	size:40px
}

div.a{
	text-align:left-side;
	color:white;
}
.footer {
	color:white;
	font-size:60px;
	position:right-side;
	
}